<div class="login-card">
  <h1 class="title-card">Log In</h1>

  <form (ngSubmit)="onSubmit()" autocomplete="off">
    <mat-form-field appearance="outline" color="accent" class="email-input">
      <mat-label class="label">Your Email</mat-label>
      <input matInput placeholder="email@example.com" [formControl]="emailControl" />
      <mat-icon matSuffix *ngIf="emailControl.valid" class="success-icon">done</mat-icon>
      <mat-icon
        matSuffix
        *ngIf="emailControl.invalid && emailControl.touched"
        class="error-icon"
        >error_outline</mat-icon
      >
      <mat-error *ngIf="emailControl.touched && emailControl.invalid">
        This account doesn't exist in the system
      </mat-error>
    </mat-form-field>

    <p class="description">
      Enter the email you signed up with<br />
      to receive your login code
    </p>

    <div class="submit-button-container">
      <button
        mat-button
        type="submit"
        class="submit-button"
        color="accent"
        [disabled]="emailControl.invalid"
      >
        Log In
      </button>
    </div>
  </form>
</div>
