<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form
      class="example-form"
      autocomplete="off"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" formControlName="username" />
          <mat-error *ngIf="registerForm.get('username').invalid">
            Please enter a valid username
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email" />
          <mat-error *ngIf="registerForm.get('email').invalid">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" formControlName="password" />
          <mat-error *ngIf="registerForm.get('password').invalid">
            Please enter a valid password
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="btn-block submit-button"
        [disabled]="registerForm.invalid"
      >
        Submit
      </button>
    </form>
  </mat-card>
</div>
